{% extends "base.html" %}
{% block title %}Вход - NanoWave{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <h2 class="mb-3">Вход</h2>
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
            </div>
            {{ form.submit(class="btn btn-primary w-100") }}
        </form>
    </div>
</div>
{% endblock %}
